body {
  font-family: 'karla', sans-serif;
  max-width: 1000px;
}


.name-logo {
  font-weight: 600;
  width: 250px;
  line-height: 180%;
}

.nav-item {
  line-height: 80%;
}

/*============
navigaiton
============*/


.line {
  border-top: solid #50E3C2 4px;
  list-style: none;
  padding-top: 10px;
  position: relative;
  top: -120px;
  margin: 0 auto;
  opacity: 0;
}

.line:hover {
  opacity: 1;
}

.line-container {
  margin-bottom: -125px;
  /*opacity: 0;*/
}

.line-container:hover {
  margin-bottom: -125px;
  /*opacity: .25;*/
  transition: 400ms;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  cursor: pointer;
  color: #50E3C2;
  transition: 400ms;
}

a:active {
  transform: translateY(3px);
}

.current {
  color: #A53FFF;
}

nav {
  font-weight: 600;
}

/*============
content
============*/

.content-container {
  background-color: #A53FFF;
  height: 80vh;
  width: 65%;
  float: right;
  margin: 2.5rem;
  padding: 3rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.empty {
  background-color: none;
  height: 80vh;
  width: 100%;
  float: right;
  margin: 2.5rem;
  padding: 3rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  flex-wrap: wrap;
}

.thumbnail-container {
  margin-top: 10rem;
  max-width: 800px;
}

.thumbnail {
  opacity: .05;
  width: 50vw;
  margin: -2rem;
  transition: 200ms ease 25ms;
  max-width: 320px;
}

.thumbnail:hover {
  opacity: 1;
}

.project-thumbnail1 {
  animation: animation 2.4s
  cubic-bezier(0.250, 0.100, 0.250, 1.000) infinite;
}

.project-thumbnail2{
  animation: animation2 2.4s
  cubic-bezier(0.1, 0.25, 0.15, 1.000) infinite;
}

.project-thumbnail3 {
  animation: animation3 2.4s
  cubic-bezier(0.250, 0.1, 0.250, .4) infinite;
}

@keyframes animation2 {
  from { transform: translate(0px, 10px) }
  25%  { transform: translate(200px, -20px) }
  50%  { transform: translate(-40px, 200px) }
  100% { transform: translate(0px, 10px) }
}

@keyframes animation3 {
  from { transform: translate(10px, 10px) }
  25%  { transform: translate(200px, -20px) }
  50%  { transform: translate(80px, -40px) }
  100% { transform: translate(10px, 10px) }
}

@media only screen and (max-width: 800px) {
  .content-container {
    background-color: #A53FFF;
    /*height: auto;*/
    margin: 1.5rem;
    padding: 2.5rem;
    width: 55%;
    height: 100%;
  }
  .thumbnail {
    width: 45vw;
  }
}

.overlap {
  margin-left: -12rem;
  margin-bottom: -4rem;
}

.overlap-2 {
  margin-left: -12rem;
  margin-bottom: -6rem;
}

.overlap-3 {
  margin-left: -12rem;
  margin-bottom: -5rem;
}

.overlap-4 {
  margin-left: -12rem;
  margin-bottom: -3rem;
}



/*============
About
============*/

.info {
  color: white;
  font-size: 14px;
  line-height: 140%;
  max-width: 600px;
  margin-top: 130px;
}

/*============
Projects
============*/
.title, .title2, .title3 {
  animation: animation 2.4s cubic-bezier(0.250, 0.100, 0.250, 1.000) infinite;
  animation-iteration-count: 3;
}

.title {
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  z-index: 20;
  position: fixed;
  top: 15px;
}

.title2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  animation-delay: 0.05s;
  opacity: 0.8;
  z-index: 19;
  position: fixed;
  top: 15px;
}

.title3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  animation-delay: 0.10s;
  opacity: 0.7;
  z-index: 18;
  position: fixed;
  top: 15px;
}

@keyframes animation {
  from { transform: translate(0px, 10px) }
  25%  { transform: translate(80px, -20px) }
  50%  { transform: translate(200px, -10px) }
  100% { transform: translate(0px, 10px) }
}

@media only screen (max-width: 600px) {
  @keyframes animation {
    from { transform: translate(0px, 10px) }
    25%  { transform: translate(80px, -20px) }
    50%  { transform: translate(50px, -10px) }
    100% { transform: translate(0px, 10px) }
  }
}


.description {
  font-size: 14px;
  line-height: 150%;
  padding-bottom: 1rem;
  max-width: 450px;
}

.description, .title {
  color: white;
}

.paralink {
  color: white;
  text-decoration: underline;
}

.project-img {
  margin-bottom: 2rem;
  height: 100%;
  width: 100%;
}

.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 50vw;
  max-width: 550px;
}

/*============
Boom Buzz
============*/

.boom, .boom2, .boom3 {
  /*animation: trail 2.4s cubic-bezier(0.250, 0.100, 0.250, 1.000) infinite;*/
  animation: scale 600ms
  cubic-bezier(0.250, 0.100, 0.250, 1.000) infinite alternate;
  animation-iteration-count: 3;
  line-height: 100%;
  font-size: 30px;
}

.boom{
  font-weight: 700;
  z-index: 20;
  margin: 0 auto;
}

.boom2 {
  font-weight: 700;
  animation-delay: 0.05s;
  opacity: 0.8;
  z-index: 19;
  margin: 0 auto;
}

.boom3 {
  font-weight: 700;
  animation-delay: 0.10s;
  opacity: 0.7;
  z-index: 18;
  margin: 0 auto;
}

@keyframes trail {
  from { transform: translate(0px, 20px) }
  25%  { transform: translate(30px, -5px) }
  50%  { transform: translate(50px, 10px) }
  100% { transform: translate(0px, 20px) }
}

@keyframes scale {
  from { transform: scale(1) }
  to { transform: scale(2) }
}

/*============
Color
============*/
.color, .color2, .color3 {
  animation: jump 300ms cubic-bezier(0.50, 0.600, 0.80, 1.000) infinite alternate;
  position: relative;
  animation-iteration-count: 10;
  font-size: 30px;
}

.color{
  font-weight: 700;
  z-index: 20;
  margin: 0 auto;
}

.color2 {
  font-weight: 700;
  animation-delay: 0.05s;
  opacity: 0.8;
  z-index: 19;
  margin: 0 auto;
}

.color3 {
  font-weight: 700;
  animation-delay: 0.10s;
  opacity: 0.7;
  z-index: 18;
  margin: 0 auto;
}

@keyframes jump {
  from { transform: translateY(0); }
  to { transform: translateY(-20px); }
}

@media only screen (max-width: 600) {
  .color, .color2, .color3 {
    font-size: 15px;
  }
}

/*============
Lettering
============*/
.lettering, .lettering2, .lettering3 {
  animation: shake 600ms cubic-bezier(0.70, 0.900, 0.60, 1.000) infinite alternate ;
  animation-iteration-count: 6;
  font-size: 30px;
  line-height: 120%;
}

.lettering{
  font-weight: 700;
  z-index: 20;
  margin: 0 auto;
}

.lettering2 {
  font-weight: 700;
  animation-delay: 0.05s;
  opacity: 0.8;
  z-index: 19;
  margin: 0 auto;
}

.lettering3 {
  font-weight: 700;
  animation-delay: 0.10s;
  opacity: 0.7;
  z-index: 18;
  margin: 0 auto;
}

@keyframes shake {
  from { transform: translateX(20px); }
  to { transform: translateX(-20px); }
}
