body {
  font-family: 'Open Sans', sans-serif;
  max-width: 1000px;
}


.name-logo {
  font-weight: 600;
  width: 25%;
}

/*============
navigaiton
============*/

a {
  text-decoration: none;
  color: black;
}

a:hover {
  cursor: pointer;
  color: #50E3C2;
}

a:active {
  transform: translateY(3px);
}

.current {
  color: #A53FFF;
}

nav {
  font-weight: 600;
}

/*============
content
============*/

.content-container {
  background-color: #A53FFF;
  height: 80vh;
  width: 65%;
  float: right;
  margin: 2.5rem;
  padding: 3rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  flex-wrap: wrap;
}

.thumbnail-container {
  margin-top: 10rem;
  max-width: 800px;
}

.thumbnail {
  opacity: .05;
  width: 50vw;
  margin: -2rem;
  transition: 200ms ease 25ms;
  max-width: 320px;
}

.thumbnail:hover {
  opacity: 1;
}

@media only screen and (max-width: 800px) {
  .content-container {
    background-color: #A53FFF;
    /*height: auto;*/
    margin: 1.5rem;
    padding: 2.5rem;
    width: 55%;
  }
  .thumbnail {
    width: 100vw;
  }
}

.overlap {
  margin-left: -12rem;
  margin-bottom: -4rem;
}

.overlap-2 {
  margin-left: -12rem;
  margin-bottom: -6rem;
}

.overlap-3 {
  margin-left: -12rem;
  margin-bottom: -5rem;
}

.overlap-4 {
  margin-left: -12rem;
  margin-bottom: -3rem;
}



/*============
About
============*/

.info {
  color: white;
  font-size: 14px;
  line-height: 140%;
  max-width: 600px;
}

/*============
Projects
============*/
.title {
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
}

.description {
  font-size: 14px;
  line-height: 150%;
  padding-bottom: 1rem;
}

.description, .title {
  color: white;
}

.paralink {
  color: white;
  text-decoration: underline;
}

.project-img {

}
